/* -------------------------------------------------- */
/* PicoCSS Customisations */
/* -------------------------------------------------- */

/* Prevent grid stacking on mobile */
@media (max-width: 400px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}

/* -------------------------------------------------- */
/* Application-wide Styles */
/* -------------------------------------------------- */

.grid {

  /* 2 column layout;
      auto: takes up all remaining space
      max-content: shrinks to fit its content
  */
  &.auto-max {
    grid-template-columns: auto max-content;
    align-items: center;
  }

}

a:has(> i:only-child) {
  text-decoration: none;
}

/* -------------------------------------------------- */
/* Page-specific Styles */
/* -------------------------------------------------- */

main.home {

  .menu article a {
    text-decoration: none;

    h2 {
      margin-bottom: 0;
    }
  }

}

main.plans {

  th {
    font-size: 2rem;
  }

  th:nth-child(2),
  td:nth-child(2) {
    /* Make second column as wide as possible */
    width: 100%;
  }

  th,
  td {
    text-align: center;
    padding: 0.25rem;
  }

  input[type="text"] {
    border: 1px solid color-mix(in srgb, var(--pico-border-color) 15%, transparent);

    margin: 0;

    /* aria-invalid:false icon size */
    background-size: 1.5rem auto;
    /* Don't move in when aria-invalid:false applied */
    padding-inline-start: 0.25rem !important;
  }

}

main.meals {

  /* Hide .location elements that don't contain .meal elements */
  .location:not(:has(.meal)) {
    display: none;
  }

}

main.meals {

  /* Hide .location elements that don't contain .meal elements */
  .location:not(:has(.meal)) {
    display: none;
  }
}
